<script>
	import Message from './components/Message.svelte'
	import Todos from './components/Todos.svelte'
  let todos = [
    { id: 1, text: 'Learn svelte', done: true },
    { id: 2, text: 'Make a great Nardoz presentation', done: false },
    { id: 3, text: 'Get rich quickly', done: false },
    { id: 4, text: 'Conquer the world!', done: false },
  ]
</script>

<Message />

<Todos {todos}/>
