<script>
  import { message } from '../stores.js'
  import { createEventDispatcher} from 'svelte'
  const dispatch = createEventDispatcher()

  import { slide } from 'svelte/transition';

  export let todo

  let editing = false
</script>

<div class="item" transition:slide>
  {#if editing}
    <input bind:value={todo.text} on:blur={ () => editing = false } autofocus />
  {:else}
    <p class="{ todo.done ? 'done' : 'pending' }" on:click={ () => editing = true }>{todo.text} ({todo.id})</p>
  {/if}
  <button class="{ todo.done ? 'pending' : 'done' }" on:click={ () => todo.done = !todo.done }>{ todo.done ? 'Not done' : 'Done' }</button>
  <button class="remove" on:click={ () => dispatch('remove', todo) }>Remove</button>
</div>
